.Cv-container{
    position: relative;
    display: flex;
flex-direction: row;
 margin: 40px;
justify-content: space-evenly;

}
/* Title elements */
.Title{
    display: flex; 
    background-color: #5c5b5b;
    height: 90px;
}
.Title svg{
 position: relative;
 top: 20px;
 color: white;
 left: 260px;
}
.Title h1{
    font-family:  Monaco, Consolas, 'Courier New';
    position: relative;
    top: 15px;
    left: 260px;
    height: 35px;
    color: whitesmoke;
    width: 250px;
}
.lanButtons{
    position: relative;
    align-self: flex-end;
    right: 270px;
    
    
}
.lanButtons button{
margin: 5px;
 color: white; 
 background: rgba(46, 229, 156, 0.123);
}

/* Form Elements */
 .Cv-forms{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EEE1B3;
    text-align: center; 
    
    overflow: hidden;
    background: white;
    background-color: #556d7a;
    width: 21cm;
    display: grid; 
    margin-bottom: 0.5cm;
    border-radius: 10px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.Cv-forms button{
    margin: 15px;
    width: 150px;
}
.Cv-forms button:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    
}
.Define{
    border-bottom: gray 5px solid;
}
.ComputerFrom{
    margin: 10px;
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.ComputerFrom label{
    margin: 5px;
   font-size: 18px;
}
.ComputerFrom input{
    margin: 15px;
   
}
.ComputerFrom button{
    margin: 15px;
    align-self: flex-end;
}
.LanForm{
    display: flex;
    margin: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.LanForm input{
    margin-right: 40px;
   width: 180px;
   background-color: #9ac0d4;
 border-color: #9ac0d4;
}
.LanForm select{

   background-color: #9ac0d4;
 border-color: #9ac0d4;
}
.LanForm label{
    
   font-size: 18px;
 }
 .LanForm button{
    
    align-self: flex-end;
    height: 45px;
  }
  .DrivingFrom{
       align-items: center;
     flex-direction: column;
      display: flex;
      margin: 15px;      
  }
  .DrivingFrom label{
    font-size: 18px;    
}
  .DrivingFrom input{
 width: 230px;
    background-color: #9ac0d4;
    border-color: #9ac0d4;
 }

/* Functional Buttons */
.FunButtons{
   
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 80px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.FunButtons button{
width: 140px;
margin: 10px;
color: whitesmoke;
}



 /* Cv Info elements  */
.Cv-infos{
    font-family: Symbol, serif;
    text-align: center  ;
    background: white;
    width: 21cm  ;
    height: 29.7cm  ;
    display: block  ;
    margin-bottom: 0.5cm  ;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
   
}
.Cv-infos h2{
    color: #5398BE;
 
   
}
.Cv-infos h3{
    color: #5398BE;
   font-size: 25px;
   
}
.PersonalInfo-container{
    display:  flex  ;
    align-items: center  ;
    justify-content: center  ;
}

.Exp{
    position: relative  ;
    bottom: 150px  ;
}
.Exp h3{
     position: relative  ;
     bottom: 10px;
     right: 220px  ;
  
     text-decoration: underline  ;
}
.School{
    position: relative  ;
    bottom: 150px  ;
}
.School h3{
    position: relative  ;
    right: 250px  ;
    text-decoration: underline;
    bottom: 10px;
}
.ExtraSkills{
    position: relative  ;
    bottom: 160px  ;
}

.ExtraSkills h3{
    position: relative  ;
    right: 250px  ;
    text-decoration: underline  ;
}
#lanSpan{
  
  align-self: center;

}

.drivingContainer{
    grid-column: 2/2  !important;
}
#drivingSpan{
  
    grid-row: 2/2  !important;
   
}


.skillGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px,auto);
}
.LanInfo{
    display: grid  ;
    position: relative  ;
    grid-template-columns: repeat(2, 1fr)  ;
    grid-auto-rows: minmax(100px,auto)  ;
bottom: 20px  ;


}
.lanDiv{
    display: flex;
    justify-content: center;
}

.SkillInfo{  
    position: relative  ;
    display: grid  ;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px,auto);

}

.computer-info{
    position: relative  ;
    right: 30px

}
 #driving{
    display: inline;
    position: relative;
   left: 10px;
 }
 .drivingContainer{
    position: relative;
    width: 200px;
   bottom: 120px;
 }


 /* footer */
 .footer{
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
    
    background-color: #5c5b5b;
 }
 footer{
     width: 320px;
    display: flex;
    font-size: 18px;
 
    font-family:  Monaco, Consolas, 'Courier New',
    monospace;
  
   justify-content: space-between;
 }

 footer a{

     color: #000;
     font-size: 25px;
 }
 footer a:hover{
     color: black;
   transform: scale(1.4);
}















 @media  (max-width: 1450px) {
    .Cv-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .FunButtons{
        display: flex;
        flex-direction: row;
        width: 250px;
        height: 80px;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
  }

 @media  (max-width: 570px) {
    .Title{
        display: flex; 
        background-color: #5c5b5b;
        height: 90px;
    }
    .Title svg{
     position: relative;
     top: 20px;
     color: white;
     left: 160px;
    }
    .Title h1{
        font-family:  Monaco, Consolas, 'Courier New';
        position: relative;
        top: 15px;
        left: 160px;
        height: 35px;
        color: whitesmoke;
        width: 250px;
    }
    .Cv-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .Cv-container button{
        width: 80px;
        font-size: 14px;
    }
    .FunButtons{
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 80px;
        margin: 10px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
    .Cv-forms{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #EEE1B3;
        text-align: center; 
        overflow: hidden;
        background: white;
        background-color: #556d7a;
        width: 11cm;
        display: grid; 
        margin-bottom: 0.5cm;
        border-radius: 10px;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    .Cv-infos{
        font-family: serif;
        text-align: center  ;
        background: white;
        width: 12cm  ;
        height: 29.7cm  ;
        display: block  ;
        margin-bottom: 0.5cm  ;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
       
    }
    .Cv-infos{
        font-size: 14px;
       
    }
    .Cv-infos h3{
        font-size: 19px;
        position: relative;
       
       
    }
    .Cv-infos img{
        width: 70px;
        height: 70px;
       
    }
    .Exp h3{
        position: relative  ;
        bottom: 10px;
        right: 90px  ;
   }
   .School h3{
    position: relative  ;
    right: 125px  ;
    text-decoration: underline;
    bottom: 10px;
}
.ExtraSkills h3{
    position: relative  ;
    right: 125px  ;
    text-decoration: underline  ;
}
.skillGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px,auto);
}
.computer-info{
    position: relative  ;
    right: 10px

}
  }