.Cv-container{
    position: relative;
    
    display: flex;
flex-direction: row;
justify-content: space-evenly;


}
.Title{
    background-color: #5c5b5b;
    height: 90px;
}
.Title h1{
    position: relative;
    left: 220px;
    width: 200px;
}
.Cv-forms{
    text-align: center; 
 overflow: hidden;
    background: white;
    width: 21cm;
    display: block; 
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.Cv-infos{
    text-align: center;
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.PersonalInfo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Exp{
    position: relative;
    bottom: 200px;
}
.Exp h3{
     position: relative;
     right: 190px;
  
     text-decoration: underline;
}
.School{
    position: relative;
    bottom: 210px;
}
.School h3{
    position: relative;
    right: 250px;
    text-decoration: underline;
}
.ExtraSkills{
    position: relative;
    bottom: 225px;
}

.ExtraSkills h3{
    position: relative;
    right: 250px;
    text-decoration: underline;
}
#lanSpan{
  
  align-self: center;

}

.drivingContainer{
    grid-column: 2/2;
}
#drivingSpan{
  
    grid-row: 2/2;
    /* position: relative;
    top: 15px;
    right: 235px; */
}


.skillGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px,auto);
}
.LanInfo{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px,auto);
bottom: 45px;


}

.SkillInfo{
    
    position: relative;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px,auto);

}

.computer-info{
    position: relative;
    bottom: 15px;
}
 #driving{
    display: inline;
    position: relative;
    bottom: 35px; 
    left: 155px;
 }
 .drivingContainer{
    position: relative;
    bottom: 130px; 
    left: 65px;
 }
 .footer{
    background-color: #5c5b5b;
 }
